{% extends 'base.html' %}

{% block head %}
{% if logged_in %}
<script src="{{ url_for('static', filename='js/api_requests.js') }}"></script>
{% endif %}
<style>
    body {
        width: 100%;
    }

    #info{
        text-align:center;
        margin-bottom: 1em;
    }

    #releases_container {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .album {
        display: table;
        width: 100%;
        height: 12em;
        padding: 1em;
    }

    .album_image {
        display: table-cell;
        text-align: left;
        float: left;
        width: 60%;
        height: 50%;
    }

    .album_description {
        display: table-cell;
        vertical-align: middle;
        width: 40%;
        text-align: center;
    }

    #loading_container{
        text-align: center;
    }
    #loading_container > img{
        padding: 1em;
    }
</style>
{% endblock %}

{% block content %}

{% if logged_in %}
<div id="loading_container">
    <select onchange="setDays()" id="time">
    <option value="7">A Week Ago</option>
    <option value="31">A Month Ago</option>
    <option value="182">Half A Year Ago</option>
    <option value="365">A Year Ago</option>
</select>
    <br>
    <img src="/static/img/ajax-loader.gif" id="loading_image">
</div>
<div id="releases_container">
    {% else %}
    <div id="info"> This application searches your spotify library (not playlists)
    for artists and lists recently released singles and albums.
</div>
    <form action="/login">
        <button class="btn btn-lg btn-success center-block" id="login">Log in with Spotify</button>
    </form>
    {% endif %}
</div>
{% endblock %}